---
layout: default
title: Michael Trueman
---

<section class="featured home">
    <p class="section-title">FEATURED <span class="pink">/</span> <span class="thin-italic">TERRAIN SHAKER</span></p>
    <video class="video" width="100%" height="auto" src="{{ site.url }}/video/terrainshaker.mp4" autoplay></video>
</section>

<section class="work home">
    <p class="section-title">WORK <span class="pink">/</span> <span class="thin-italic">PORTFOLIO</span></p>
    {% for post in site.categories['work'] %}
    <div class="thumb-container full-circle" data-url={{ post.url }}>
        <div class="inner full-circle" href="{{ post.url }}"><img class="work-thumb full-circle" src="{{ post.thumbnail }}"></div>
        <div class="overlay">
            <p class="title">{{ post.title }}<p/>
            <p class="cta">VIEW PROJECT</p>
        </div>
        {% if post.featured %}
        <!-- <p style="position: absolute; font-size: 50px">FEATURED</p> -->
        {% endif %}
    </div>
    {% endfor %}
</section>

<section class="about home">
    <p class="section-title">ABOUT <span class="pink">/</span> <span class="thin-italic">ME</span></p>
    <p class="content">I am a developer living in New York City. I specialize in motion graphics and I love to write code. I am able to jump from designing to developing with little effort and pride myself on seeing the big picture while focusing on the smallest of details.</br>
    </p>
    <img src="images/1898785_10202839604925740_959804820.jpg" />
</section>

<script type="text/javascript">
addEventListener('DOMContentLoaded', function() {
    TweenMax.to($('.alert'), 0.5, {autoAlpha: 1, delay: 0.7});
    TweenMax.to($('.alert'), 0.5, {autoAlpha: 0, delay: 5});
    var app = new App();
    app.initMain();
});
</script>
<script src="scripts/promise.js"></script>

